<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
    <meta name="viewport" content="widtvice-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</head>
<body>
    <body style=" background-color:#1D1D24;">
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  navbar  @@@@@@@@@@@@@@@@@@@@@@@@@@@@!-->  
<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="container">
            <div class="row">
               <div class="col-sm-3">
               <img src="https://cdn.pixabay.com/photo/2014/03/25/16/28/todo-list-297195__340.png" style="width:130px;margin-right:130px;margin-top:30px">
               </div>
               <div class="col-sm-8" >
                <img src="{% static "download.png" %} "staic/download.png" %}">
">
              </div>
            </div>
        </div>
        </div>
    </div>
</nav>
	
<div class="container" style="width:500px;height:200px;background-color:#31303B; border-radius:20px">
    <div class="row">
        <form method = 'POST' enctype="multipart/form-data" style="width:300px;margin-left:100px;margin-top:10px">
            {% csrf_token %}
            	{% for field in form %}
              {% if task.complete == True %}
              <strike>{{task.title}}</strike>
                        {% endif %}
              {{field}}<br>
                 {% endfor %}<br>


            <button type="submit" class="btn btn-block btn-success">Submit</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>




 